<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xmas_22_Activity_Check_In.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Xmas_22_Activity_Check_In.Properties.Settings>
            <setting name="aciName" serializeAs="String">
                <value>Build a Bear</value>
            </setting>
            <setting name="aciFTPPassword" serializeAs="String">
                <value>Jadzia1984!</value>
            </setting>
            <setting name="aciFTPHost" serializeAs="String">
                <value>access802899325.webspace-data.io</value>
            </setting>
            <setting name="aciPin" serializeAs="String">
                <value>1111</value>
            </setting>
            <setting name="aciFTPUsername" serializeAs="String">
                <value>u98941559</value>
            </setting>
            <setting name="aciFTPPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="aciRFChild" serializeAs="String">
                <value>/X22/uzmQIAHBSH6kusMp9tNpbSvEn5IGJKaB5ESX3WUWmPeMVNRnBFxudnt4ubtaAfbJ</value>
            </setting>
            <setting name="aciRFAdult" serializeAs="String">
                <value>/X22/hQDo6TUAuImqWENYQjdjMHhdKeiFYqsvMKhMPNBgM7oXUCNkXB4rtBH7i3tYubYh</value>
            </setting>
            <setting name="aciRFFamily" serializeAs="String">
                <value>/X22/3hbQnlLEQA870bKszQg8dIWQ5cLzZm2wOCJj5zym0eFKZwgBn2T0ZS9i03fit53q</value>
            </setting>
            <setting name="aciLocalSave" serializeAs="String">
                <value>C:\Users\ashcr\Downloads\New folder</value>
            </setting>
            <setting name="aciLocalBackup" serializeAs="String">
                <value>C:\Users\ashcr\Downloads\New folder\Backup</value>
            </setting>
            <setting name="aciRF" serializeAs="String">
                <value>/X22/GatherBooking</value>
            </setting>
            <setting name="aciDCPW" serializeAs="String">
                <value>TFI4gOfiMnABxa4UG9BuJAh4fUjayi5ySGHVB0XeT3qrgdFh8gj27ArwUUH8pBFZ</value>
            </setting>
            <setting name="aciTo" serializeAs="String">
                <value>30/12/2021</value>
            </setting>
            <setting name="aciFrom" serializeAs="String">
                <value>1/11/2021</value>
            </setting>
            <setting name="aciWait" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="aciUploadInterval" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="aciActivities" serializeAs="String">
                <value>Build a Bear,Reindeer Food,Cookie Decorating</value>
            </setting>
            <setting name="aciTables" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="aciTableNames" serializeAs="String">
                <value>Paddington,Winnie the Pooh,Rupert,Gummy Bear</value>
            </setting>
            <setting name="aciUseInfo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="aciUploadActivity" serializeAs="String">
                <value>/X22/ActivityCheckIn</value>
            </setting>
            <setting name="aciChildChecked" serializeAs="String">
                <value>true,false,true,false,true,false,true,false,true,false,true,false,true,false,true,false,true,false</value>
            </setting>
            <setting name="aciAdultChecked" serializeAs="String">
                <value>true,false,true,false,true,false,true,false,true,false,true,false,true,false,true,false,true,false</value>
            </setting>
            <setting name="aciFamilyChecked" serializeAs="String">
                <value>true,false,true,false,true,false,true,false,true,false,true,false,true,false,true,false,true,false</value>
            </setting>
            <setting name="aciReadWait" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="aciTableRead" serializeAs="String">
                <value>C:\Users\ashcr\Downloads\New folder</value>
            </setting>
            <setting name="aciTableWrite" serializeAs="String">
                <value>C:\Users\ashcr\Downloads\New folder</value>
            </setting>
            <setting name="aciRemember" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aciUnique" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="aciDeleteTables" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="aciQuestionFile" serializeAs="String">
                <value>C:\Users\ashcr\Downloads\New folder</value>
            </setting>
        </Xmas_22_Activity_Check_In.Properties.Settings>
    </userSettings>
</configuration>